<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uno-4-temperature" data-view="Number" data-title="Temperature" data-suffix="°C" style="background: #3498DB;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uno-4-humidity" data-view="Meter" data-title="Humidity" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uno-4-sonar" data-view="Number" data-title="Distance" data-suffix="cm"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="uno-4-motion" data-view="State" data-title="Alarm"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="uno-4-light" data-view="Graph" data-title="Light" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>